#members_tab {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

    #members_tab td {
        background: url('/media/gfx/alliance/line_bg.png') repeat-x;
        height: 27px;
        color: rgb(138, 138, 138);
    }

    .sep1, .sep2, .sep3, .sep4, .sep5 { width: 20px; }
    .name { width: 200px; }
    .rank { width: 200px; }
    .extra { }
    .picts { }
    .picts > img { margin-left: 10px; margin-right: 10px;}
    .kick { width: 34px; }

