.unitblock
{
    height: 90px;
    position: relative;
    margin-top: 8px;
}

.unitblock .picture { position: absolute; height: 100%; left: 16px; width: 136px; background-color: #918d8e;}
.unitblock .picture > span { position: absolute; font-family: Arial; color: rgb(190, 190, 190);
left: 66px; top: 67px; width: 60px; height: 12px; font-size: 12px; z-index: 3; text-align: center; }
.unitblock .mainbox
{
    position: absolute; height: 100%; left: 152px; right: 0px; padding-top: 5px; padding-left: 10px;
    font-family: Arial; font-size: 14px; color: #c5c5c5;
}

.unitblock .mainbox .kword { color: rgb(255, 204, 0); font-size: 18px;}
.unitblock .mainbox .udesc { line-height: 1.1em; }
.unitblock .mainbox .uspace { padding-bottom: 10px; }
.unitblock .mainbox .ucost { position: absolute; bottom: 10px; }

.unitblock .mainbox .rsfield_mono
{
    position: absolute; top: 57px; right: 0px; width: 227px; height: 33px;
    background-color: #7d7d7d; text-align: center; font-size: 14px; font-weight: bold; font-family: Arial; color: rgb(255, 204, 0);
}
.unitblock .mainbox .rsfield_poly
{
    position: absolute; top: 57px; right: 0px; width: 227px; height: 33px;
    text-align: center; font-size: 14px; font-weight: bold; font-family: Arial; color: rgb(2, 204, 0);
    background-color: #656565;
}

.unitblock .mainbox .rsfield_poly .leftside
{
    font-size: 28px;
    position: relative;
    float: left;
    width: 140px;
    height: 100%;
    text-align: center;
    padding: 0 0 0 0;
    border: none;
    margin: 0 0 0 0;
    background-color: #d0d0d0;
}

.unitblock .mainbox .rsfield_poly .rightside
{
    float: right;
    width: 87px;
    height: 100%;
    padding-top: 9px;
    color: rgb(255, 204, 0);
}

.prodtable { border-collapse: collapse; width: 100%; font-size: 18px; }

.prodtable tr { height: 37px; width: 100%; padding-top: 10px; background-color: #424242; }

.prodtable .subspace { width: 10px; }
.prodtable .ordinal { width: 46px; padding-left: 15px; }
.prodtable .unitname { width: 215px; }
.prodtable .unitcount { width: 80px; background-color: #656565; text-align: center; }
.prodtable .spacet { width: 30px; }
.prodtable .time {}

.bigdesc { padding-top: 20px; text-align: center; font-size: 18px; color: rgb(255, 204, 0); padding-bottom: 20px;  }