#registration
{
    width: 458px;
    height: 534px;
    position: absolute;
    top: 50%;
    margin-top: -267px;
    left: 50%;
    margin-left: -229px;
}

#titular {
    width: 458px;
    position: relative;
    height: 45px;
}
#t_logo {
    position: absolute;
    top: 0px;
    left: 0px;
}
#t_04 {
    position: absolute;
    right: 0px;
    top: 0px;
}

.inputdiv {
    height: 32px;
    position: relative;
}
    .input_label {
        text-align: right;
        height: 26px;
        width: 127px;
        padding-top: 6px;
        color: rgb(157, 157, 157);
        font-family: Tahoma;
        font-size: 14px;
        padding-right: 10px;
        background: url('/media/gfx/registration/07.png');
    }
    .input_field {
        position: absolute;
        top: 0; left: 137px;
        width: 287px;
        height: 32px;
        background: url('/media/gfx/registration/08.png');
    }
    .input_field input {
        width: 287px;
        height: 32px;
        text-align: center;
        font-family: Tahoma;
        font-size: 11px;
        color: white;
        border: none;
        padding: 0 0 0 0;
        background: url('/media/gfx/registration/08.png');
    }
    .input_field select {
        margin: 4px 4px 4px 4px;
        width: 279px;
        height: 24px;
        text-align: center;
        font-family: Tahoma;
        font-size: 11px;
        color: white;
        border: none;
        padding: 0 0 0 0;
        background-color: rgb(32, 31, 31);
    }
    .input_end {
        position: absolute;
        top: 0; right: 0;
        width: 34px;
        height: 32px;
        background: url('/media/gfx/registration/09.png');
    }

.brkdiv {
    width: 100%;
    height: 27px;
    position: relative;
}
    .errrap {
        position: absolute;
        left: 137px;
        top: 0;
        background: url('/media/gfx/registration/11.png');
        width: 287px;
        height: 24px;
        padding-top: 3px;
        text-align: center;
        color: rgb(213, 37, 37);
        font-family: Tahoma;
        font-size: 12px;
        display: inline-block;
    }

    .brkdiv img:last-child {
        position: absolute;
        right: 0; top: 0;
    }

#regbox {
    position: relative;
    width: 100%;
    height: 43px;
}
    #regbox_b {
        position: absolute;
        left: 308px;
        top: 0;
    }
    #regbox_u {
        position: absolute;
        left: 308px;
        bottom: 0;
    }
    #regbox_k {
        position: absolute;
        top: 0;
        right: 0;
    }

#hasaccount {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 11px;
    font-family: Tahoma;
    color: rgb(123, 123, 123);
    background: url('/media/gfx/registration/18.png');
}
    #hasaccount table { width: 100%; height: 45px; }