#rsendtab {
    margin-top: 14px;
    margin-left: 14px;
    float: right;
    border-spacing: 0;
    border-collapse: collapse;
    width: 300px;
    color: rgb(138, 138, 138);
}

#rsendtab td {
        padding-left: 10px;
        background: url('/media/gfx/uprofile/line_bg.png') repeat-x;
        height: 27px;
        vertical-align: middle;
    }
#rsendtab input {
        margin-right: 5px;
        float: right;
        font-size: 12px;
        color: rgb(138, 138, 138);
        width: 100px;
        border: none;
        padding: 0 0 0 0;
        height: 26px;
        background: url('/media/gfx/uprofile/send_bg.png') repeat-x;
}
#rsendtab td.send {
        background: url('/media/gfx/uprofile/send_res_bg.png') repeat-x;
        width: 100%;
        height: 27px;
        text-align: center;
}
#rsendtab td.first {
        background: url('/media/gfx/uprofile/best_bg.png') repeat-x;
        width: 100%;
        height: 27px;
        text-align: center;    
}

#infotab {
    margin-top: 14px;
    width: 580px;
    border-spacing: 0 0 0 0;
    border-collapse: collapse;
}

#infotab td {
    padding-left: 10px;
    font-size: 12px;
    color: rgb(138, 138, 138);
    height: 27px;
    background: url('/media/gfx/uprofile/line_bg.png') repeat-x;
}

#infotab span {
    color: rgb(225, 189, 3);
}

#funtextarea
{
    font-size: 12px;
    color: rgb(138, 138, 138);
    padding: 10px 10px 10px 10px;
    background: url('/media/gfx/uprofile/info_top.png') repeat-x;
    margin-top: 14px;
    width: 560px;
    background-color: rgb(34, 41, 45);
}