#infotab {
    margin-top: 14px;
    width: 580px;
    border-spacing: 0;
    border-collapse: collapse;
}

#infotab td {
    padding-left: 10px;
    font-size: 12px;
    color: rgb(138, 138, 138);
    height: 27px;
    background: url('/media/gfx/uprofile/line_bg.png') repeat-x;
    position: relative;
}
    .formerror { text-align: center; }
    .formerror span { color: rgb(213, 37, 37); }

#infotab input {
    font-size: 12px;
    color: rgb(138, 138, 138);
    height: 21px;
    border: none;
    border: 1px solid orange;
    background: url('/media/gfx/uprofile/line_bg.png') repeat-x;
    float: right;
    margin-right: 100px;
    width: 200px;
    top: 0px;
}

#infotab select {
    font-size: 12px;
    width: 202px;
    color: rgb(138, 138, 138);
    float: right;
    margin-right: 100px;
    height: 20px;
    border: 1px solid orange;
    background-color: rgb(34, 41, 45);
}

#funtextarea
{
    color: rgb(138, 138, 138);
    background: url('/media/gfx/uprofile/info_top.png') repeat-x;
    margin-top: 14px;
    width: 580px;
    background-color: rgb(34, 41, 45);
}
#funtextarea textarea {
    color: rgb(138, 138, 138);
    padding: 5px 5px 5px 5px;
    background-color: rgb(34, 41, 45);
    border: none;
}

div.save {
    float: right;
    text-align: center;
    color: rgb(231, 199, 33);
    height: 24px;
    width: 139px;
    margin-right: 50px;
    font-size: 13px;
    background: url('/media/gfx/uprofile/save.png');
    font-weight: bold;
    padding-top: 6px;
}