# -*- coding: utf-8 -*-
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
        <title>Bellum</title>
        <meta http-equiv="Content" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/media/css/outextbox.css">
        <script type="text/javascript" src="/media/js/gfxmblock.js"></script>
</head>
<body>
    <p><img alt="Site background" style="z-index: -10; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;" src="/media/gfx/login/bg.jpg"></p>
    <form action="/register/register/" method="post" id="myform">
    <div id="registration">
        <div id="titular">
            <img src="/media/gfx/registration/03.png" alt="Logo" id="t_logo">
            <img src="/media/gfx/registration/04.png" alt="" id="t_04">
        </div>

        <div id="textbox">
            Wystąpił błąd <br><br>
            Albo klucz aktywacyjny w ogóle nie istniał, albo się przedawnił. Ponów próbę aktywacji konta, lub skontaktuj się z administracją pod adresem admin@thebellum.pl .
        </div>

        <div id="hasaccount">
        </div>
    </div>
    </form>
</body>
</html>