# -*- coding: utf-8 -*-
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
        <title>Bellum</title>
        <meta http-equiv="Content" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/media/css/passremind.css">
        <script type="text/javascript" src="/media/js/gfxmblock.js"></script>
</head>
<body>
    <p><img alt="Site background" style="z-index: -10; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;" src="/media/gfx/login/bg.jpg"></p>
    <form action="/register/passremind/" method="post" id="myform">
    <div id="registration">
        <div id="titular">
            <img src="/media/gfx/registration/03.png" alt="Logo" id="t_logo">
            <img src="/media/gfx/registration/04.png" alt="" id="t_04">
        </div>

        <div class="brkdiv">
            <img src="/media/gfx/registration/combo.png" alt="">
        </div>
        <div class="inputdiv">
            <div class="input_label">Email:</div>
            <div class="input_field">${form['email']}</div>
            <div class="input_end"></div>
        </div>
        <div class="brkdiv">
            <img src="/media/gfx/registration/10.png" alt=""><div class="errrap">${sup(form['email'])}</div><img src="/media/gfx/registration/12.png" alt="">
        </div>


        <div id="regbox">
            <img src="/media/gfx/registration/14.png" alt="">
            <img src="/media/gfx/registration/send.png" id="regbox_b" alt="Wyślij" onclick="document.getElementById('myform').submit()" onmouseover="gmbHighlight(this)" onmouseout="gmbUnhighlight(this)">
            <img src="/media/gfx/registration/17.png" alt="" id="regbox_u">
            <img src="/media/gfx/registration/16.png" alt="" id="regbox_k">
        </div>

        <div id="hasaccount" onclick="window.location='/register/login/'">
            <table><tr><td style="vertical-align: middle; width: 100%;">Może jednak pamiętasz?</td></tr></table>
        </div>
    </div>
    </form>
</html>