# -*- coding: utf-8 -*-
<% from bellum.common.fixtures.landarmy_stats import UNIT_NAMES %>
<% from bellum.meta import MGID, MPBI %>
<% from bellum.common.fixtures.province_build import BUILDING_NAMES %>
<% from bellum.common.utils import datetime__secondsToNow, humanize__convertSeconds, htmlize__costs, humanize__designation, htmlize__garrison %>
    <% from django.utils.html import escape %>
<div id="buildings_overview_bg_guard">
<div id="buildings_overview_bg">
    <div class="header">
        <div class="spacer10"></div>
        <span id="provincename">${escape(province.name)}</span>
        <span id="adjoint_to">Połączona z:
                % for neighbour in province.getNeighbours():
                    <a href="javascript:switch_province(${neighbour.id}, ${neighbour.planet_count_number})">${neighbour.planet_count_number+1}</a>
                % endfor
        </span>
        <div class="spacer10"></div>
    </div>
    <div class="content">
        <div style="margin-left: 10px; margin-right: 10px;">
            % for i in xrange(0, province.slots):
            <% otype, olvl = province.presence.getPair(i) %>
            <div class="spacer10"></div>
            <div class="slot" id="slot_${i}">
                <div class="generic_name">SLOT</div>

                % if builds.has_key(i):
                    % if otype == 0:             # just being built
                        <div class="slot_destroy_button" id="slot_destroy_button_${i}">
                            <a href="javascript:planetview_cancelBuildProvince(${province.id}, ${province.presence.id}, ${i})">
                               <img src="/media/gfx/planetview/destroyb.png" alt="Destroy">
                            </a>
                        </div>
                        <div class="clearleft"></div>
                        <div class="slot_caption">Trwa budowa </div>
                        <div class="slot_data">
                            <div class="header"> </div>
                            <ul class="content">
                                <li>${BUILDING_NAMES[builds[i].what]} - <span id="slot_${province.id}_${i}"></span></li>
                           </ul>
                           <script type="text/javascript">countdown('slot_${province.id}_${i}', ${builds[i].got.secondsToCompletion()});</script>
                        </div>
                    % else:         # a level upgrade
                        <div class="slot_destroy_button" id="slot_destroy_button_${i}">
                            <a href="javascript:planetview_cancelBuildProvince(${province.id}, ${province.presence.id}, ${i})">
                               <img src="/media/gfx/planetview/destroyb.png" alt="Destroy">
                            </a>
                        </div>
                        <div class="clearleft"></div>
                        <div class="slot_caption">Trwa rozbudowa </div>
                        <div class="slot_data">
                            <div class="header"></div>
                            <ul class="content">
                                <li>${BUILDING_NAMES[builds[i].what]} - na poziom ${olvl+1} - <span id="slot_${province.id}_${i}"></span></li>
                           </ul>
                           <script type="text/javascript">countdown('slot_${province.id}_${i}', ${builds[i].got.secondsToCompletion()});</script>
                        </div>
                    % endif
                % else:     # not building
                    % if otype == 0:            # slot empty
                        <div class="clearleft"></div>
                        <div class="slot_caption">Pusty</div>
                        <div class="slot_data">
                            % if builds == {}:
                                <div class="header">Zbuduj: </div>
                            % else:
                                <div class="header">Nie można budować</div>
                            % endif
                            <ul class="content">
                                % for pbi in xrange(1, MPBI+1):
                                    % if canerect[pbi]:
                                    <li>
                                        % if gcosts[pbi][0] > pgo.resources:
                                        <span onmouseover="tooltip.show('${htmlize__costs(gcosts[pbi])}')" onmouseout="tooltip.hide()">[ ${BUILDING_NAMES[pbi]} ]</span>
                                        % elif builds == {}:
                                        <span onmouseover="tooltip.show('${htmlize__costs(gcosts[pbi])}')" onmouseout="tooltip.hide()">
                                            <a href="javascript:planetview_startErectProvince(${province.id}, ${province.presence.id}, ${pbi});resourceDeduct(${gcosts[pbi][0].titan},${gcosts[pbi][0].pluton},${gcosts[pbi][0].men})">[ ${BUILDING_NAMES[pbi]} ]</a>
                                        </span>
                                        % else:
                                            <span onmouseover="tooltip.show('${htmlize__costs(gcosts[pbi])}')" onmouseout="tooltip.hide()">[ ${BUILDING_NAMES[pbi]} ]</span>
                                        % endif
                                    </li>
                                    % endif
                                % endfor
                           </ul>
                        </div>
                    % else:                     # something standing
                    <div class="clear"></div>
                    <div class="slot_caption">${BUILDING_NAMES[otype]} <span class="slot_caption_level" id="building_level_1">${olvl}</span></div>
                    <div class="slot_data">
                        % if builds == {}:
                            <div class="header">
                                % if costs[i][0] > pgo.resources:
                                    Nie stać cię:
                                % else:
                                    <a href="javascript:planetview_startBuildProvince(${province.id}, ${province.presence.id}, ${i})">Rozbuduj</a>:
                                % endif
                            </div>
                        % else:
                            <div class="header">Nie można budować: </div>
                        % endif
                        <ul class="content">
                            <li><strong>T:</strong> ${int(costs[i][0].titan)}</li>
                            <li><strong>P:</strong> ${int(costs[i][0].pluton)}</li>
                            <li><strong>M:</strong> ${int(costs[i][0].men)}</li>
                            <li><strong>C:</strong> ${humanize__convertSeconds(costs[i][1])}</li>
                       </ul>
                    </div>
                    % endif
               % endif
            </div>
            % endfor
            </div>
        </div>
</div>
</div>

<div id="garrison_overview_bg">
    <div class="generic_name">MÓJ GARNIZON</div>
    <div class="clear"></div>
    <div class="garrison_positions">
        <table class="units">
            % for i in xrange(0, MGID+1):
                % if province.presence.garrison[i] > 0:
                <tr>
                    <td class="name">${UNIT_NAMES[race][i]}</td>
                    <td class="amount">${province.presence.garrison[i]}</td>
                </tr>
                % endif
            % endfor
        </table>
    </div>

    <div class="garrison_offensive_selector">
        <a href="/space/troopmove/${province.id}/">ZARZĄDZAJ WOJSKIEM</a>
    </div>

    % for reinf in province.presence.reinforcement_set.all():
    <div class="generic_name">WSPARCIE OD <a href="/uprofile/view/${reinf.owner.id}">${escape(reinf.owner.empire)}</a></div>
    <div class="clear"></div>
    <div class="garrison_positions">
        <table class="units">
            % for i in xrange(0, MGID+1):
                % if reinf.garrison[i] > 0:
                <tr>
                    <td class="name">${UNIT_NAMES[reinf.owner.race][i]}</td>
                    <td class="amount">${reinf.garrison[i]}</td>
                </tr>
                % endif
            % endfor
        </table>
    </div>
    <div class="spacer10"></div>
    % endfor

    % if land_inbound.count() + drop_inbound.count() + land_outbound.count() + evacs_bound.count() > 0:
        <div class="generic_name">RUCHY WOJSK</div>
        <div class="clear"></div>
        <div class="garrison_positions">
            <table class="units">
                % if land_inbound.count() + drop_inbound.count() > 0:
                    <tr>
                        <td class="banner" colspan="2">PRZYCHODZĄCE</td>
                    </tr>
                % endif
                    % for mp in land_inbound:
                    <tr>
                        <td class="name">
                        % if mp.attacker == account:
                            <span onmouseover="tooltip.show('${htmlize__garrison(mp.garrison, race)}')" onmouseout="tooltip.hide()">
                            MOJE
                        % else:
                            <span>
                            <a href="/uprofile/view/${mp.attacker.id}/">${escape(mp.attacker.empire)}</a>
                        % endif
                        | ${humanize__designation(mp.designation)} </span>| z
                        <a href="javascript:switch_province(${mp.srcprovince.id},${mp.srcprovince.planet_count_number})">
                                ${mp.srcprovince.planet_count_number+1}
                        </a>
                        % if (mp.attacker == account) and (mp.designation != 0):
                        |  <a href="javascript:cancel_strike(${mp.id})">ANULUJ</a>
                        % endif
                        </td>
                        <td class="amount">
                            <span id="tpm_${mp.id}"></span>
                            <script type="text/javascript">countdown('tpm_${mp.id}', ${mp.got.secondsToCompletion()});</script>
                        </td>
                    </tr>
                    % endfor

                    % for mp in drop_inbound:
                    <tr>
                        <td class="name">
                        % if mp.mother.owner == account:
                                <span onmouseover="tooltip.show('${htmlize__garrison(mp.garrison, race)}')" onmouseout="tooltip.hide()">
                                MOJE
                        % else:
                                <span>
                                <a href="/uprofile/view/${mp.mother.owner.id}/">${escape(mp.mother.owner.empire)}</a>
                        % endif
                        | Desant | ${humanize__designation(mp.designation)}</span>
                        % if (mp.mother.owner == account) and (mp.designation != 0):
                        | <a href="javascript:cancel_drop(${mp.id})">ANULUJ</a>
                        % endif
                        </td>
                        <td class="amount">
                            <span id="tmd_${mp.id}"></span>
                            <script type="text/javascript">countdown('tmd_${mp.id}', ${mp.got.secondsToCompletion()});</script>
                        </td>
                    </tr>
                    % endfor

                % if land_outbound.count() + evacs_bound.count() > 0:
                    <tr>
                        <td class="banner" colspan="2">WYCHODZĄCE</td>
                    </tr>
                % endif

                % for mp in land_outbound:
                    <tr>
                        <td class="name">
                        % if (mp.attacker == account):
                            <span onmouseover="tooltip.show('${htmlize__garrison(mp.garrison, race)}')" onmouseout="tooltip.hide()">
                            MOJE |
                        % else:
                            <span>
                            <a href="/uprofile/view/${mp.attacker.id}/">${mp.attacker.empire}</a> |
                        % endif
                        ${humanize__designation(mp.designation)} | do
                        <a href="javascript:switch_province(${mp.dstprovince.id},${mp.dstprovince.planet_count_number})">
                                ${mp.dstprovince.planet_count_number+1}
                        </a>
                        % if (mp.attacker == account) and (mp.designation != 0):
                        | <a href="javascript:cancel_strike(${mp.id})">ANULUJ</a>
                        % endif
                        </span></td>
                        <td class="amount">
                            <span id="tpn_${mp.id}"></span>
                            <script type="text/javascript">countdown('tpn_${mp.id}', ${mp.got.secondsToCompletion()});</script>
                        </td>
                        
                    </tr>
                % endfor

                % for mp in evacs_bound:
                    <tr>
                        <td class="name"><span onmouseover="tooltip.show('${htmlize__garrison(mp.garrison, race)}')" onmouseout="tooltip.hide()">
                        Ewakuacja | do ${escape(mp.mother.name)}
                        </span></td>
                        <td class="amount">
                            <span id="tme_${mp.id}"></span>
                            <script type="text/javascript">countdown('tme_${mp.id}', ${mp.got.secondsToCompletion()});</script>
                        </td>
                    </tr>
                % endfor

            </table>
        </div>
    % endif
</div>
