# -*- coding: utf-8 -*-
<%inherit file="/base/base.html" />
<%def name="head()" >
    <link rel="stylesheet" type="text/css" href="/media/css/ranking.css">
</%def>
<%def name="caption()">ranking</%def>
<%def name="body()" >
    <% from django.utils.html import escape %>
    <% from bellum.common.utils import coma %>

    <div id="top_bar">
        <div id="top_bar_buttons">
            <div class="top_bar_button" onclick="window.location='/stats/ranking/all/'">WSZYSTKO</div>
            <div class="top_bar_button" onclick="window.location='/stats/ranking/mother/'">STATEK</div>
            <div class="top_bar_button" onclick="window.location='/stats/ranking/army/'">WOJSKO</div>
            <div class="top_bar_button" id="top_bar_button_hl">SOJUSZ</div>
        </div>
        <div id="top_bar_title">Ranking sojuszy</div>
        <div class="clear"></div>
    </div>

    <table id="ranking_tab">
        % for r in ranking:
            <td class="s1"></td>
            <td class="nr">${r.id}.</td>
            <td class="s2"></td>
            <td class="name" onclick="window.location='/alliance/view/${r.alliance_id}/'">${escape(r.name)}</td>
            <td class="s3"></td>
            <td class="extra"></td>
            <td class="s4"></td>
            <td class="s5"></td>
            <td class="score">${coma(r.points)}</td>
            <td class="s6"></td>
            <td class="deltaimg">
                % if r.delta > 0:
                    <img src="/media/gfx/ranking/up.png" alt="Podniósł się">
                % elif r.delta == 0:
                    <img src="/media/gfx/ranking/nomove.png" alt="Stoi">
                % else:
                    <img src="/media/gfx/ranking/down.png" alt="Spadł">
                % endif
            </td>
            <td class="delta">
                % if r.delta != 0:
                    ${abs(r.delta)}
                % endif
            </td>
        </tr>
        % endfor
    </table>

    <div id="blocks">
        % if page == 1:
            <div id="b_sharpleft"></div>
            <div id="b_left"></div>
        % else:
            <div id="b_sharpleft" onclick="window.location='/stats/ranking/allied/1/'"></div>
            <div id="b_left" onclick="window.location='/stats/ranking/allied/${page-1}/'"></div>
        % endif

        % for pg in pages:
            <div class="b_page">
                % if pg == page:
                    <span>${pg}</span>
                % else:
                    <span><a href="/stats/ranking/allied/${pg}/">${pg}</a></span>
                % endif
            </div>
        % endfor

        % if page == pagecount:
            <div id="b_right"></div>
            <div id="b_sharpright"></div>
        % else:
            <div id="b_right" onclick="window.location='/stats/ranking/allied/${page+1}/'"></div>
            <div id="b_sharpright" onclick="window.location='/stats/ranking/allied/${pagecount}/'"></div>
        % endif
    </div>

</%def>